<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/logo_not_clean.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>MURL</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="http://192.168.1.186:5000/">
                <div class="murl_sign">
                    <b>MURL</b>
                </div>
                <div class="under_murl">
                    <b>link shortener</b>
                </div>
           </a>
            <a href="https://www.w3schools.com/tags/att_script_src.asp"><img src="/static/orange_webpict17_1484337097.png" alt=""></a>
        </div>
        <div class="main">
            <div class="ultimate_tool">Why do you need an account on this website?????</div>
            <a href="http://192.168.1.186:5000/" class="btn2">Go back</a>
        </div>
    </div>
</body>
</html>